fastapi
uvicorn 
requests
motor
pydantic[email]
python-dotenv
google-generativeai
jsonschema
typing
PyPDF2
python-multipart
aiohttp
httpx

# Authentication & Security
passlib[bcrypt]
python-jose[cryptography]
bcrypt